<h1 class="text-center">My Teams</h1>
<div class="background-well btn-group-vertical center-block max-well-width">
<% if flash[:error] %>
	<p class="error_message"><%= flash[:error] %></p>
<% end %>
<% user = User.find(session[:user_id]) %>
<% if user %>
	<% user.teams.each do |team| %>
		<li class="lead"><%= link_to team.name, "/teams/view/" + team.id.to_s %></li>
	<% end %>
	<%= link_to "Create New Team", "/teams/new", class: "btn btn-primary", style:"border-radius:4px;margin-bottom:5px" %>
	<%= link_to "Join Team", "/teams/join", class: "btn btn-primary", style:"border-radius:4px;margin-bottom:5px" %>
    <%= link_to "View All Team Members", "/teams/view_all", class: "btn btn-primary", style:"border-radius:4px" %>
<% else %>
	You must be logged in to view teams.
<% end %>
</div>