<% content_for :title, "View Team" %>

<h1 class="text-center"><%= @team.name %> </h1>
<div class="calendar-background-well">


	<h2 class="text-center resizable">
		<% date = Date.parse(params[:start_date]) %>
		<%= link_to start_date: (date.beginning_of_week - 1) do %>
		<span class="glyphicon glyphicon-chevron-left"></span><% end %>
		<%= date.beginning_of_week.strftime("%D") %>
		<%= link_to start_date: (date.end_of_week + 1) do %>
		<i class="glyphicon glyphicon-chevron-right"></i>
		<% end %>
	</h2>

	<% @first_user = true %>
	<% @team.users.each do |user| %>
		<% @user_name = user.first_name + " " + user.last_name %>
		<% if user == @team.users.last %>
			<% @last_user = true %>
		<% end %>

		<%= week_calendar do |date| %>
			<% post = Post.find_by("user_id = ? and date = ?", user.id, date) %>
			<% if post and not (post.notes.empty? and post.exercises.empty?) %>
				<% #Do not change the formatting (whitespace) of the div below! It will change the display of all workouts %>


				<div class='wrap-text handle-overflow'><% exercises_mapping = get_post_exercises_mapping(post) %><% exercises_mapping.each do |exercise_name, exercise_entries_array| %><%= get_exercise_string_from_exercise_entries_array(exercise_name, exercise_entries_array) %>
<% end %></div>
				<div class='wrap-text handle-overflow'><% post.notes.each do |note| %><% visibility_list = note.visibility.split(',').map(&:to_i) %><% note.visibility.to_s %><% if visibility_list.include?(-1) or visibility_list.include?(@team.id) %><%# -1 indicated the user chose the 'everyone' visibility option %><%= note.text %>
<% else %><% current_user = User.find(session[:user_id]) %><% if user.id == session[:user_id] %><div class='grey-text'><%= note.text %></div><% else %><% current_user.teams.each do |current_user_team| %><% if visibility_list.include?(current_user_team.id) %><div class='grey-text'><%= note.text %></div><% break %><% end %><% end %><% end %><% end %><% end %></div>



				<% if user.id == session[:user_id] %>
					<%= link_to controller: 'posts', action: 'edit', date: post.date, return_to: "/teams/view/" + @team.id.to_s do %>
					<span class="glyphicon glyphicon-pencil"></span><% end %>
					<%= link_to '/posts/' + post.id.to_s + "?return_to=/teams/view/" + @team.id.to_s,
					method: :delete,
					data: { confirm: 'Are you sure you want to delete this post?', return_to: "/teams/view/" + @team.id.to_s} do %>
					<span class="glyphicon glyphicon-trash pull-right"></span><% end %>
				<% end %>
			<% elsif user.id == session[:user_id] %>
				<%= link_to controller: 'posts', action: 'create', date: date, return_to: "/teams/view/" + @team.id.to_s do %>
				<span class="glyphicon glyphicon-plus"></span><% end %>
			<% end %>
		<% end %>
		<% @first_user = false %>
		<% @last_user = false %>
	<% end %>
</div>
<%= link_to "Leave this team", "/teams/leave_team/" + @team.id.to_s,
			method: :delete,
			data: { confirm: 'Are you sure you want to leave ' + @team.name + '?'},
			class: "btn btn-sm btn-info pull-right" %>