<meta name="viewport" id="viewport" content="width=device-width, initial-scale=0.25, user-scalable=yes">
<% content_for :title, "View Team" %>
<h1 class="text-center"><%= @team.name %> </h1>
<div class="calendar-background-well">

	<h2 class="text-center resizable">
		<% date = Date.parse(params[:start_date]) %>
		<%= link_to start_date: (date.beginning_of_week - 1) do %>
		<span class="glyphicon glyphicon-chevron-left"></span><% end %>
		<%= date.beginning_of_week.strftime("%D") %>
		<%= link_to start_date: (date.end_of_week + 1) do %>
		<i class="glyphicon glyphicon-chevron-right"></i>
		<% end %>
	</h2>

	<% @first_user = true %>
	<% @team.users.each do |user| %>
		<% @user_name = user.first_name + " " + user.last_name %>
		<% @user_id = user.id %>
		<% if user == @team.users.last %>
			<% @last_user = true %>
		<% end %>
		<% @return_to = "/teams/view/" + @team.id.to_s %>
		<%= render "shared/user_display" %>
		<% @first_user = false %>
		<% @last_user = false %>
	<% end %>
</div>
<%= link_to "Leave this team", "/teams/leave_team/" + @team.id.to_s,
			method: :delete,
			data: { confirm: 'Are you sure you want to leave ' + @team.name + '?'},
			class: "btn btn-sm btn-info pull-right" %>