<% content_for :title, "View Team" %>

<h2><%= @team.name %> </h2>
<div class="calendar-background-well">

	<% date = Date.parse(params[:start_date]) %>
	<%= link_to "Previous", start_date: (date.beginning_of_week - 1) %>
	<%= date.beginning_of_week.strftime("%D") %>
	<%= link_to "Next", start_date: (date.end_of_week + 1)  %>
	<br/>

	<% @first_user = true %>
	<% @team.users.each do |user| %>
		<% @user_name = user.first_name + " " + user.last_name %>
		<% if user == @team.users.last %>
			<% @last_user = true %>
		<% end %>

		<%= week_calendar do |date| %>
			<% post = Post.find_by("user_id = ? and date = ?", user.id, date) %>
			<% if post %>
				<% #Do not change the formatting (whitespace) of the div below! It will change the display of all workouts %>
				<div class='wrap-text'>Workout:
<%= post.workout %>
Notes: <%= post.notes %></div>
				<% if user.id == session[:user_id] %>
					<%= link_to controller: 'posts', action: 'edit', date: post.date, return_to: "/teams/view/" + @team.id.to_s do %>
					<span class="glyphicon glyphicon-pencil"></span><% end %>
					<%= link_to '/posts/' + post.id.to_s,
					method: :delete,
					return_to: "/teams/view/" + @team.id.to_s,
					data: { confirm: 'Are you sure you want to delete this post?', return_to: "/teams/view/" + @team.id.to_s} do %>
					<span class="glyphicon glyphicon-trash pull-right"></span><% end %>
				<% end %>
			<% elsif user.id == session[:user_id] %>
				<%= link_to controller: 'posts', action: 'new', date: date, return_to: "/teams/view/" + @team.id.to_s do %>
				<span class="glyphicon glyphicon-plus"></span><% end %>
			<% end %>
		<% end %>
		<% @first_user = false %>
		<% @last_user = false %>
	<% end %>
</div>