<% if flash[:error] %>
	<p class="error_message"><%= flash[:error] %></p>
<% end %>
<% content_for :title, "Users" %>
<div class="background-well max-well-width">
<% if session[:user] %>

	<div class = "row">
		<center><%= link_to image_tag("http://i.imgur.com/PaxkgYF.png", class:"homeicontop"), "/posts/create" %>
		<%= link_to image_tag("http://i.imgur.com/hPFTmMf.png", class:"homeicontop"), "/posts/index" %></center>
	</div>
	<div class="row">
		<center><%= link_to image_tag("http://i.imgur.com/qmiZg3C.png", class:"homeiconbottom"), "/teams" %>
		<%= link_to image_tag("http://i.imgur.com/I25ziip.png", class:"homeiconbottom"), "/users/logout" %></center>
	</div>

<% else %>
	<div class="btn-group-vertical center-block" role="group">	
		<%= link_to "Create New Account", "new", class: "btn btn-primary btn-lg", style:"border-radius:4px;margin-bottom:5px" %>
		<%= link_to "Login", "login", class: "btn btn-primary btn-lg", style:"border-radius:4px;margin-bottom:5px" %>
	</div>
<% end %>
</div>