<% if flash[:error] %>
	<p class="error_message"><%= flash[:error] %></p>
<% end %>
<% content_for :title, "Users" %>
<div class="background-well max-well-width">
<p class="error_message">Attention neworkoutlog users! Our free data storage on Heroku has been used up. Sadly, for the time being I think this means no more neworkoutlog. The upgraded plan costs 10$ a month, which is a pretty steep price given only a few people use this. I recommend switching over to the Simple Workout Log at www.simpleworkoutlog.com. I'm currently working on finding an easy way to export data over to that application, if you have any questions feel free to email me at: njabswalsh@gmail.com. Cheers, Nolan</p>
<% if session[:user] %>

	<div class = "row">
		<center><%= link_to image_tag("http://i.imgur.com/PaxkgYF.png", class:"homeicontop"), "/posts/create" %>
		<%= link_to image_tag("http://i.imgur.com/hPFTmMf.png", class:"homeicontop"), "/posts/index" %></center>
	</div>
	<div class="row">
		<center><%= link_to image_tag("http://i.imgur.com/qmiZg3C.png", class:"homeiconbottom"), "/teams" %>
		<%= link_to image_tag("http://i.imgur.com/I25ziip.png", class:"homeiconbottom"), "/users/logout" %></center>
	</div>

<% else %>
	<div class="btn-group-vertical center-block" role="group">	
		<%= link_to "Create New Account", "new", class: "btn btn-primary btn-lg", style:"border-radius:4px;margin-bottom:5px" %>
		<%= link_to "Login", "login", class: "btn btn-primary btn-lg", style:"border-radius:4px;margin-bottom:5px" %>
	</div>
<% end %>
</div>