<% content_for :title, "New User" %>
<% if session[:user] %>
	<p>You are already logged in!</p>
<% else %>
<div class="background-well max-well-width">
	<%= form_tag("create", :method => "post") do %>
		<div class = "row">
				<fieldset class="form-group">
					<div class="col-xs-6">
						<%= text_field_tag(:first_name, nil, placeholder: "First Name", class: "form-control") %>
					</div>
					<div class="col-xs-6">
						<%= text_field_tag(:last_name, nil, placeholder: "Last Name", class: "form-control") %>
					</div>
				</fieldset>
		</div>
		<fieldset class="form-group">
				<%= text_field_tag(:login, nil, placeholder: "Username", class: "form-control") %>
		</fieldset>
		<fieldset class="form-group">
				<%= password_field_tag(:password_1, nil, placeholder: "Password", class: "form-control") %>
				<% if flash[:error] %>
					<span class="help-block" id="error-exists">
						<p class="error_message text-danger"><%= flash[:error] %></p>
					</span>
				<% end %>
		</fieldset>
		<%= submit_tag("Create Account", class: "btn btn-primary") %>
		<%= link_to "Back to Login", "login", class: "btn btn-info pull-right" %>
	<% end %>
</div>
<% end %>
