<%= form_for :post, url: {action: 'update', date: @post.date, return_to: params[:return_to]} do |p| %>


	<% if @post.errors.any? %>
		<div id="error_explanation">
			<h2>
				You had <%= pluralize(@post.errors.count, "error") %> in the post you tried to save:
			</h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<div class="text-center">

			<h2 class="resizable">
			<%= link_to date: @post.date - 1.day do %>
				<span class="glyphicon glyphicon-chevron-left"></span>
			<% end %>
			<%= @post.date.strftime("%a, %d %b %Y") %>
			<%= link_to date: @post.date + 1.day do %>
				<span class="glyphicon glyphicon-chevron-right"></span>
			<% end %>
			</h2>

		</div>
	</p>

	<div class="background-well">
		<!-- Trigger the modal with a button -->
		<button type="button" class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#pick-exercise"><span class="glyphicon glyphicon-plus"></span> Add exercise</button>

		<% if not @post.exercises.empty?  %>
			<% @post.exercises.each do |exercise| %>
				<li class="lead"><%= exercise.exercise_name %> <%= exercise.sets %>X<%= exercise.reps %>X<%= exercise.weight %></li>
			<% end %>
		<% else %>
			<h5>You have no recorded exercises today.</h5>
		<% end %>

		<!-- Modal1 -->
		<div class="modal fade" id="pick-exercise" role="dialog">
			<div class="modal-dialog">

			  <!-- Modal content-->
			  <div class="modal-content">
			    <div class="modal-header">
			      <button type="button" class="close" data-dismiss="modal">&times;</button>
			      <h4 class="modal-title">Touch to add exercise</h4>
			    </div>


			    <div class="modal-body">
			    	<div class="row">
					      <div class="col-md-3 col-sm-4 col-xs-6">
					        <div class="dummy"></div>
					        <a data-target="#add-exercise" data-dismiss="modal" data-toggle="modal" id="deadlift" class="thumbnail choose-exercise">Deadlift</a>
					      </div>
					      <div class="col-md-3 col-sm-4 col-xs-6">
					        <div class="dummy"></div>
					        <a data-target="#add-exercise" data-dismiss="modal" data-toggle="modal" id="squat" class="thumbnail choose-exercise">Squat</a>
					      </div>
					      <div class="col-md-3 col-sm-4 col-xs-6">
					        <div class="dummy"></div>
					        <a data-target="#add-exercise" data-dismiss="modal" data-toggle="modal" id="bench" class="thumbnail choose-exercise">Bench</a>
					      </div>
					      <div class="col-md-3 col-sm-4 col-xs-6">
					        <div class="dummy"></div>
					        <a data-target="#add-exercise" data-dismiss="modal" data-toggle="modal" id="rowers" class="thumbnail choose-exercise">Rowers</a>
					      </div>
					      <div class="col-md-3 col-sm-4 col-xs-6">
					        <div class="dummy"></div>
					        <a data-target="#add-exercise" data-dismiss="modal" data-toggle="modal" id="pullups" class="thumbnail choose-exercise">Pull ups</a>
					      </div>
					      <div class="col-md-3 col-sm-4 col-xs-6">
					        <div class="dummy"></div>
					        <a data-target="#add-exercise" data-dismiss="modal" data-toggle="modal" id="core" class="thumbnail choose-exercise">Core</a>
					      </div>
					    </div>
					  </div>


			    <div class="modal-footer">
			      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			    </div>
			  </div>
			  
			</div>
		</div>

		<!-- Modal2 -->
		<div class="modal fade" id="add-exercise" role="dialog">
			<div class="modal-dialog">

			  <!-- Modal content-->
			  <div class="modal-content">
			    <div class="modal-header">
			      <button type="button" class="close" data-dismiss="modal">&times;</button>
			      <h4 class="modal-title">Choose exercise details</h4>
			    </div>


			    <div class="modal-body">
					<div class="row">
						<div class="col-sm-4 col-xs-6 col-sm-offset-4 col-xs-offset-3">
			      	<div class="dummy"></div>
			        <div class="thumbnail" id="place_exercise"></div>
			      </div>
					</div>

					<!-- number spinner http://bootsnipp.com/snippets/featured/bootstrap-number-spinner -->
					<div class="row spinner-padding">
						<div class="col-xs-12 col-md-offset-4 col-md-4" id="sets">
							<h4 class="input-field-header">Sets</h4>
							<div class="input-group number-spinner">
								<span class="input-group-btn">
									<button class="btn btn-default sets" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
								</span>
								<input type="text" class="form-control text-center" value="3">
								<span class="input-group-btn">
									<button class="btn btn-default sets" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
								</span>
							</div>
						</div>

						<div class="col-xs-12 col-md-offset-4 col-md-4" id="reps">
							<h4 class="input-field-header">Reps</h4>
							<div class="input-group number-spinner">
								<span class="input-group-btn">
									<button class="btn btn-default reps" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
								</span>
								<input type="text" class="form-control text-center" value="8">
								<span class="input-group-btn">
									<button class="btn btn-default reps" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
								</span>
							</div>
						</div>

						<div class="col-xs-12 col-md-offset-4 col-md-4" id="weight">
							<h4 class="input-field-header">Weight</h4>
							<div class="input-group number-spinner">
								<span class="input-group-btn">
									<button class="btn btn-default weight" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
								</span>
								<input type="text" class="form-control text-center" value="135">
								<span class="input-group-btn">
									<button class="btn btn-default weight" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
								</span>
							</div>
						</div>

						<%= button_tag(type: "submit", class: "btn btn-success btn-block btn-lg") do %>
							Save
						<% end %>
					</div>
				</div>


			    <div class="modal-footer">
			      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			    </div>
			  </div>
			  
			</div>
		</div>

		<hr class="post-divider"/>
		<hr class="post-divider"/>

		<p>
			<%= p.label :notes %>
			<br>
			<%= p.text_area :notes, class: "form-control" %>
		</p>

		<p>
			<%= button_tag(type: "submit", class: "btn btn-success btn-block btn-lg") do %>
			 	Save
			<% end %>
		</p>
	</div>

<% end %>

<br>
<%= link_to 'Back to Home', '/' %>
<br>
<%= link_to 'View All Posts', controller: 'posts', action: 'index' %>