<h2> Editing article </h2>

<%= form_for :post, url: post_path(@post), method: 
:patch do |p| %>

	<% if @post.errors.any? %>
		<div id="error_explanation">
			<h2>
				You had <%= pluralize(@post.errors.count, "error") %> in the post you tried to save:
			</h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= p.label :workout %><br>
		<%= p.text_area :workout %>
	</p>

	<p>
		<%= p.label :notes %><br>
		<%= p.text_area :notes %>
	</p>

	<p>
		<%= p.submit %>
	</p>
<% end %>

<br>
<%= link_to 'Back to Home', '/' %>
<br>
<%= link_to 'View All Posts', posts_path %>