<% if @post.errors.any? %>
	<div id="error_explanation">
		<h2>
			You had <%= pluralize(@post.errors.count, "error") %> in the post you tried to save:
		</h2>
		<ul>
			<% @post.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<p>
	<div class="text-center">
		<h2 class="resizable">
		<%= link_to action: 'create', date: @post.date - 1.day, return_to: params[:return_to] do %>
			<span class="glyphicon glyphicon-chevron-left"></span><% end %>
		<%= @post.date.strftime("%a, %d %b %Y") %>
		<%= link_to action: 'create', date: @post.date + 1.day, return_to: params[:return_to] do %>
			<span class="glyphicon glyphicon-chevron-right"></span><% end %>
		</h2>

	</div>
</p>



<div class="edit-well background-well max-well-width">
	<!-- Trigger the modal with a button -->
	<button type="button" class="btn btn-primary btn-block btn-med add-exercise-entry" data-toggle="modal" data-target="#pick-exercise"><span class="glyphicon glyphicon-plus"></span> Add exercise</button>

	<% if not @post.exercises.empty?  %>
		<div class="exercises">

			<% exercises_mapping = get_post_exercises_mapping(@post) %>
			<% exercises_mapping.each do |exercise_name, exercise_entries_array| %>
				<div class="exercise-name add-exercise-entry" data-toggle="modal" data-target="#add-exercise"><%= exercise_name %></div>
				<% exercise_entries_array.each do |exercise| %>
					<li class="exercise-entry-bullet">
						<span class="edit-exercise-entry" id="exercise-<%= exercise.id.to_s %>" data-toggle="modal" data-target="#add-exercise" e-name="<%= exercise_name %>" e-sets="<%= exercise.sets %>" e-reps="<%= exercise.reps %>" e-weight="<%= exercise.weight %>"><%= get_exercise_sets_reps_weight_string(exercise) %></span>
						<%= link_to "/exercises/" + exercise.id.to_s + "?date=" + @post.date.to_s,
						method: :delete,
						data: { confirm: "Are you sure you want to remove the exercise:\n" +  exercise_name + ": " + get_exercise_sets_reps_weight_string(exercise)} do %>
						<span class="glyphicon glyphicon-trash pull-right"></span><% end %>
					</li>
				<% end %>
			<% end %>
		</div>
	<% else %>
		<h5>You have no recorded exercises today.</h5>
	<% end %>

	<!-- Modal1 -->
	<div class="modal fade" id="pick-exercise" role="dialog">
		<div class="modal-dialog">

		  <!-- Modal content-->
		  <div class="modal-content">
		    <div class="modal-header costum-tabs">
		    	<button type="button" class="close" data-dismiss="modal">&times;</button>
		    	<!--div class="row"-->
			        <ul class="nav nav-tabs">
			        	<li class="active"><a data-toggle="tab" id="select-exercise">Exercise</a></li>
			        	<li><a data-toggle="tab" id="favorites">Favorites</a></li>
				 
			      <h5><span class="glyphicon glyphicon-search search-span"> <%= text_field_tag "search-box", nil, class: "search-input"%></span></h5>
			    	</ul>
			    <!--/div-->
		    </div>



		    <div class="modal-body">
		    	<div class="row">
		    		<div class="exercises-list">
		    		<% ExerciseType.all.sort{ |a, b| a.name <=> b.name }.each do |exercise_type| %>
		    		  <% if (not exercise_type.user_id) or (exercise_type.user_id == session[:user_id]) %>
					      <div class="col-md-3 col-sm-4 col-xs-6 et_holder">
					        <div class="dummy"></div>
					        <a data-target="#add-exercise" data-dismiss="modal" data-toggle="modal" id="<%= exercise_type.name.downcase %>" class="thumbnail choose-exercise" style = "background-image: url(<%= exercise_type.icon_address %>);"><span class = "vmiddle"><%= exercise_type.name %></span></a>
					        <% if exercise_type.user_id == session[:user_id] %>
								<button type="button" class="close delete_et top-right" id="<%=exercise_type.id%>">&times;</button>
					        <% end %>
					        <span class="<% if is_exercise_type_favorite(exercise_type) %>glyphicon-star<% else %> glyphicon-star-empty<% end %> glyphicon toggle-favorite top-left" id="favorite-<%=exercise_type.id%>"></span>
					    	</button>
					        
					      </div>
					   <% end %>
				    <% end %>
				   	<%= form_for :exercise_type, url: {controller: "exercise_types", action: 'create'}, html: {id: "new_exercise_form"} do |e| %>
				   	  <%= e.hidden_field :name, value: "", id: "hidden_etype_name" %>
				      <div class="col-md-3 col-sm-4 col-xs-6" style="display:none;">
				        <div class="dummy"></div>
				         <a id="new_exercise_link" class="thumbnail"><span class="glyphicon glyphicon-plus"></span class="vmiddle">New Exercise: </a>
				      </div>
				    <% end %>
					</div>
				</div>
			</div>


		    <div class="modal-footer">
		      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		    </div>
		  </div>
		  
		</div>
	</div>

	<!-- Modal2 -->
	<div class="modal fade" id="add-exercise" role="dialog">
		<div class="modal-dialog">

		  <!-- Modal content-->
		  <div class="modal-content">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal">&times;</button>
		      <h4 class="modal-title">Choose exercise details</h4>
		    </div>


		    <div class="modal-body">
		    	<%= form_for :exercise, :html => {:id => "exercise-form"}, url: {controller: 'exercises', action: 'create'} do |e| %>
				<div class="row">
					<div class="col-sm-4 col-xs-6 col-sm-offset-4 col-xs-offset-3">
		      			<div class="dummy"></div>
		        		<div class="thumbnail" id="place_exercise"></div>
		      		</div>
				</div>


				
				<!-- number spinner http://bootsnipp.com/snippets/featured/bootstrap-number-spinner -->
				<div class="row spinner-padding">
					<div class="col-xs-12 col-md-offset-4 col-md-4" id="sets">
						<h4 class="input-field-header">Sets</h4>
						<div class="input-group number-spinner">
							<span class="input-group-btn">
								<button class="btn btn-default sets" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
							</span>
							<%= number_field_tag :sets, "", class: "form-control text-center sets-input" %>
							<span class="input-group-btn">
								<button class="btn btn-default sets" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
							</span>
						</div>
					</div>

					<div class="col-xs-12 col-md-offset-4 col-md-4" id="reps">
						<h4 class="input-field-header">Reps</h4>
						<div class="input-group number-spinner">
							<span class="input-group-btn">
								<button class="btn btn-default reps" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
							</span>
							<%= number_field_tag :reps, "", class: "form-control text-center reps-input" %>
							<span class="input-group-btn">
								<button class="btn btn-default reps" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
							</span>
						</div>
					</div>

					<div class="col-xs-12 col-md-offset-4 col-md-4" id="weight">
						<h4 class="input-field-header">Weight</h4>
						<div class="input-group number-spinner">
							<span class="input-group-btn">
								<button class="btn btn-default weight" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
							</span>
							<%= number_field_tag :weight, "", class: "form-control text-center weight-input" %>
							<!--<input type="text" class="form-control text-center" value="135">-->
							<span class="input-group-btn">
								<button class="btn btn-default weight" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
							</span>
						</div>
					</div>

					<%= e.hidden_field :post_id, value: @post.id %>
					<%= e.hidden_field :exercise_name %>
					<%= e.hidden_field :return_to, value: @return_to %>

					<%= button_tag(type: "submit", class: "btn btn-success btn-block btn-lg") do %>
						<div id="add_edit_exercise">Add Exercise</div>
					<% end %>
				</div>
				<% end %>
			</div>


		    <div class="modal-footer">
		      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		    </div>
		  </div>
		  
		</div>
	</div>

	<hr class="post-divider"/>
	<hr class="post-divider"/>

	<% if @note_id %>
		<% url_string = {controller: 'notes', action: 'update', note_id: @note_id} %>
	<% else %>
		<% url_string = {controller: 'notes', action: 'create'} %>
	<% end %>
	<%= form_for :note, url: url_string do |n| %>
		<p>
			<%= n.label :notes %> 
			<div class="notes">
				<% @post.notes.sort { |a,b| a.id <=> b.id }.each do |note| %>
					<% if not note.id.to_s == @note_id %>
						<%= link_to note_id: note.id, date: @post.date, return_to: @return_to do %>
						<span style="color:black"><%= note.text %></span><% end %>
						<%= link_to "/notes/" + note.id.to_s + "?date=" + @post.date.to_s,
						method: :delete,
						data: { confirm: "Are you sure you want to delete the note:\n" + note.text} do %>
						<span class="glyphicon glyphicon-trash pull-right"></span><% end %>

						<br/>
					<% end %>
				<% end %>
			</div>
			<% if @note_id %>
				<%= n.text_area :text, value: @note_to_edit.text, class: "form-control" %>
			<% else %>
				<%= n.text_area :text, id: "note_entry", class: "form-control" %>
			<% end %>
			<%= n.hidden_field :post_id, value: @post.id%>
			<%= n.hidden_field :return_to, value: @return_to %>
		</p>

		<div class = "row">
			<fieldset class="form-group">
				<div class="btn-group col-xs-7">
					<button type="button" id="visibility-button" class="btn btn-primary btn-block btn-med" data-toggle="modal" data-target="#select-visibility">Visibility: <%= get_visibility_string(@note_visibility) %></button>
				</div>

				<div class="col-xs-5">
					<%= button_tag(id: "add_note_button", type: "submit", name: "button_action", value: "add_note", class: "btn btn-primary btn-block btn-med") do %>
						<% if @note_id %>
							Save Note
						<% else %>
							Add Note
						<% end %>
					<% end %>
				</div>
			</fieldset>
		</div>
			


	<!-- Modal3 -->
	<div class="modal fade" id="select-visibility" role="dialog">
		<div class="modal-dialog">

		  <!-- Modal content-->
		  <div class="modal-content">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal">&times;</button>
		      <h4 class="modal-title">Select Note Visibility</h4>
		    </div>


			<div class="modal-body">
				<label class="<%= if @note_visibility.include? -1 then 'check-label isSelected' else 'check-label' end %>">
					<%= n.check_box("visibility", {checked: (@note_visibility.include? -1), multiple: true, id: "everyone-box", class: "select-box"}, "-1") %> Everyone
				</label>
				<label class="<%= if @note_visibility.empty? then 'check-label isSelected' else 'check-label' end %>">
					<%= check_box_tag "me-box", "yes", @note_visibility.empty?, class: "select-box" %> Only Me
				</label>
				<% @user.teams.each do |team| %>
					<label class="<%= if @note_visibility.include? -1 or @note_visibility.include? team.id then 'check-label isSelected' else 'check-label' end %>">
						<%= n.check_box("visibility", {checked: (@note_visibility.include? -1 or @note_visibility.include? team.id), multiple: true, class: "select-box"}, team.id.to_s, nil) %> <%= team.name %>

					</label>
				<% end %> 

				<div class="modal-footer">
					<button type="button" id="visibility-done" class="btn btn-default" data-dismiss="modal">Done</button>
				</div>
			</div>
		  </div>
		  
		</div>
	</div>
	<p>
		<% if @return_to %>
			<% link_string = @return_to + "?start_date=" + @post.date.to_s %>
		<% else %>
			<% link_string = '/posts/index' + "?start_date=" + @post.date.to_s %>
		<% end %>
		<%= button_tag name: "button_action", value: link_string, class: "btn btn-success btn-block btn-lg" do %>
			Done
		<% end %>
	</p>
	<% end %>
</div>