<h1>My Workouts</h1>

<div class="background-well">
	<%= month_calendar do |date| %>
		<%= date.day %>
		<% post = Post.where("user_id = ? and date = ?", session[:user_id], date).first %>
		<% if post %>
			<% #Do not change the formatting (whitespace) of these two lines! It will change the display of all workouts %>
			<div class='wrap-text'>Workout:
<%= post.workout %>
Notes: <%= post.notes %></div>
			<%= link_to 'Edit', controller: 'posts', action: 'edit', date: post.date %>
			<%= link_to 'Delete', controller: 'posts', action: 'destroy', date: post.date,
			method: :delete,
			:confirm=> 'Are you sure you want to delete this post?' %>
		<% else %>
			<%= link_to 'Create', controller: 'posts', action: 'new', date: date %>
		<% end %>
	<% end %>
</div>

<%= link_to 'Back to Home', '/' %>
