<h1>My Workouts</h1>

<div class="background-well">
	

	<%= month_calendar do |date| %>
	
		<%= date.day %>
		<% post = Post.where("user_id = ? and date = ?", session[:user_id], date).first %>
		<% if post %>
			<% #Do not change the formatting (whitespace) of these two lines! It will change the display of all workouts %>
			<div class='wrap-text'>Workout:
<%= post.workout %>
Notes: <%= post.notes %></div>
			<%= link_to controller: 'posts', action: 'edit', date: post.date do %>
		    <span class="glyphicon glyphicon-pencil"></span><% end %>
			<%= link_to "/posts/" + post.id.to_s, date: post.date,
			method: :delete,
			data: { confirm: 'Are you sure you want to delete this post?'} do %>
			<span class="glyphicon glyphicon-trash"></span><% end %>
		<% else %>
			<%= link_to controller: 'posts', action: 'new', date: date do %>
			<span class="glyphicon glyphicon-plus"></span><% end %>
		<% end %>

	<% end %>


</div>

<%= link_to 'Back to Home', '/' %>
