<h1>My Workouts</h1>

<table>
	<tr>
		<th>Workouts</th>
		<th>Notes</th>
	</tr>

	<% Post.where("user_id = " + session[:user_id].to_s).each do |post| %>
		<tr>
			<td><%= link_to post.workout, post_path(post) %> </td>
			<td><%= post.notes %> </td>
			<td><%= link_to 'Edit', edit_post_path(post) %> </td>

			<td><%= link_to 'Delete', post_path(post),
			method: :delete,
			data: {confirm: 'Are you sure you want to delete this post?'} %></td>
		</tr>
	<% end %>
</table>

<div class='background-well'>
<%= month_calendar do |date| %>
  <%= date.day %>
<% end %>
<div>
<br>
<%= link_to 'Create New Post', new_post_path %>
<br>
<%= link_to 'Back to Home', '/' %>