<%= form_for :post, url: posts_path do |p| %>
	<% if @post.errors.any? %>
		<div id="error_explanation">
			<h2>
				You had <%= pluralize(@post.errors.count, "error") %> in the post you tried to save:
			</h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= p.hidden_field :user_id, value: session[:user_id] %>

	<p>
		<% date = Date.today %>
		<%= p.hidden_field :date, value: date %>
		<div class="text-center">
			<h2>
			<a href="#">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
        	<%= date.strftime("%a, %d %b %Y") %>
			<a href="#">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
			</h2>
		</div>




	</p>
<div class="background-well">
	<p>
		<%= p.label :workout %>
		<br>
		<%= p.text_area :workout, class: "form-control"%>
	</p>

	<p>
		<%= p.label :notes %>
		<br>
		<%= p.text_area :notes, class: "form-control"%>
	</p>
			<h2><%= date.strftime("%a, %d %b %Y") %></h2>

	<p>
		<%= submit_tag("Save Post", class: "btn btn-success") %>
	</p>

<% end %>
</div>