<h1>New Post</h1>

<%= form_for :post, url: posts_path do |p| %>
	<% if @post.errors.any? %>
		<div id="error_explanation">
			<h2>
				You had <%= pluralize(@post.errors.count, "error") %> in the post you tried to save:
			</h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= p.hidden_field :user_id, value: session[:user_id] %>

	<p>
		<% date = Time.now %>
		<%= p.hidden_field :date, value: date %>
		<h2><%= p.label :date, date.strftime("%A, %d %B %Y") %><h2>

	</p>
<div class="background-well">
	<p>
		<%= p.label :workout %>
		<br>
		<%= p.text_area :workout, class: "form-control" %>
	</p>

	<p>
		<%= p.label :notes %>
		<br>
		<%= p.text_area :notes, class: "form-control" %>
	</p>

	<p>
		<%= submit_tag("Save Post", class: "btn btn-success") %>
	</p>

<% end %>
</div>