<%= form_for @post, url: {action: 'create', return_to: params[:return_to]} do |p| %>
	<% if @post.errors.any? %>
		<div id="error_explanation">
			<h2>
				You had <%= pluralize(@post.errors.count, "error") %> in the post you tried to save:
			</h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<%= p.hidden_field :user_id, value: session[:user_id] %>

	<p>
		<%= p.hidden_field :date, value: @date %>
		<div class="text-center">
			<h2 class="resizable">
			<%= link_to date: @date - 1.day do %>
				<span class="glyphicon glyphicon-chevron-left"></span><% end %>
        	<%= @date.strftime("%a, %d %b %Y") %>
			<%= link_to date: @date + 1.day do %>
				<span class="glyphicon glyphicon-chevron-right"></span><% end %>
			</h2>
		</div>


	</p>


	<div class="background-well">
	  <!-- Trigger the modal with a button -->
	  <button type="button" class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#pick-exercise"><span class="glyphicon glyphicon-plus"></span> Add exercise</button>

	  <h5>You have no recorded exercises today.</h5>

	  <!-- Modal1 -->
	  <div class="modal fade" id="pick-exercise" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Touch to add exercise</h4>
	        </div>


	        <div class="modal-body">
	        	<div class="row">
				      <div class="col-md-3 col-sm-4 col-xs-6">
				        <div class="dummy"></div>
				        <a data-target="#add-exercise" data-dismiss="modal" data-toggle="modal" id="deadlift" class="thumbnail">Deadlift</a>
				      </div>
				      <div class="col-md-3 col-sm-4 col-xs-6">
				        <div class="dummy"></div>
				        <a data-target="#add-exercise" data-dismiss="modal" data-toggle="modal" id="squat" class="thumbnail">Squat</a>
				      </div>
				      <div class="col-md-3 col-sm-4 col-xs-6">
				        <div class="dummy"></div>
				        <a data-target="#add-exercise" data-dismiss="modal" data-toggle="modal" id="bench" class="thumbnail">Bench</a>
				      </div>
				      <div class="col-md-3 col-sm-4 col-xs-6">
				        <div class="dummy"></div>
				        <a href="#x" class="thumbnail">Rowers</a>
				      </div>
				      <div class="col-md-3 col-sm-4 col-xs-6">
				        <div class="dummy"></div>
				        <a href="#x" class="thumbnail">Pull ups</a>
				      </div>
				      <div class="col-md-3 col-sm-4 col-xs-6">
				        <div class="dummy"></div>
				        <a href="#x" class="thumbnail">Core</a>
				      </div>
				    </div>
				  </div>


	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	      
	    </div>
	  </div>

	  <!-- Modal2 -->
	  <div class="modal fade" id="add-exercise" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Choose exercise details</h4>
	        </div>


	        <div class="modal-body">
						<div class="row">
							<div class="col-sm-4 col-xs-6 col-sm-offset-4 col-xs-offset-3">
				      	<div class="dummy"></div>
				        <div class="thumbnail">Deadlift</div>
				      </div>
						</div>
				  </div>


	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	      
	    </div>
	  </div>

		<hr class="post-divider"/>
		<hr class="post-divider"/>

		<p>
			<%= p.label :notes %>
			<br>
			<%= p.text_area :notes, class: "form-control" %>
		</p>

		<p>
			<%= button_tag(type: "submit", class: "btn btn-success btn-block btn-lg") do %>
				Save
			<% end %>
		</p>

	</div>
<% end %>

<br>
<%= link_to 'Back to Home', '/' %>
<br>
<%= link_to 'View All Posts', controller: 'posts', action: 'index' %>