<%= form_for :post, url: {action: 'create'} do |p| %>
	<% if @post.errors.any? %>
		<div id="error_explanation">
			<h2>
				You had <%= pluralize(@post.errors.count, "error") %> in the post you tried to save:
			</h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= p.hidden_field :user_id, value: session[:user_id] %>

	<p>
		<%= p.hidden_field :date, value: @date %>
		<div class="text-center">
			<h2>
			<%= link_to date: @date - 1.day do %>
				<span class="glyphicon glyphicon-chevron-left"></span>
			<% end %>
        	<%= @date.strftime("%a, %d %b %Y") %>
			<%= link_to date: @date + 1.day do %>
				<span class="glyphicon glyphicon-chevron-right"></span>
			<% end %>
			</h2>
		</div>




	</p>
<div class="background-well">
	<p>
		<%= p.label :workout %>
		<br>
		<%= p.text_area :workout, class: "form-control" %>
	</p>

	<p>
		<%= p.label :notes %>
		<br>
		<%= p.text_area :notes, class: "form-control" %>
	</p>

	<p>
		<%= submit_tag("Save Post", class: "btn btn-success") %>
	</p>

<% end %>
</div>