<p>
	<div class="text-center">
		<h2>
		<%= link_to date: @post.date - 1.day do %>
			<span class="glyphicon glyphicon-chevron-left"></span>
		<% end %>
		<%= @post.date.strftime("%a, %d %b %Y") %>
		<%= link_to date: @post.date + 1.day do %>
			<span class="glyphicon glyphicon-chevron-right"></span>
		<% end %>
		</h2>
	</div>
</p>

<div class="background-well">
	<p>
		<strong>Workout:</strong>
		<%= @post.workout %>
	</p>

	<p>
		<strong>Notes:</strong>
		<%= @post.notes %>
	</p>
</div>

<%= link_to 'Edit Post', edit_post_path %>
<br>
<%= link_to 'Back to Home', '/' %>
<br>
<%= link_to 'View All Posts', posts_path %>