<p>
	<h2><%= @post.date %>
</p>

<p>
	<strong>Workout:</strong>
	<%= @post.workout %>
</p>

<p>
	<strong>Notes:</strong>
	<%= @post.notes %>
</p>

<%= link_to 'Edit Post', edit_post_path %>
<br>
<%= link_to 'Back to Home', '/' %>
<br>
<%= link_to 'View All Posts', posts_path %>