<!DOCTYPE html>
<html>
<head>
  <title>Get TWOL!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_banner">
	<% if session[:user] %>
		Hello <%= session[:user_name] %>! <a class="button_link" href="/users/logout"> Logout </a>
	<% else %>
		<a class="button_link" href="/users/login"> Login </a>
		<br>
		<a class="button_link" href="new">Create New Account</a>
	<% end %>
</div>

<%= yield %>

</body>
</html>
